body {
  margin: 0;
  .login {
    height: 100vh;
    background-color: rgb(193, 190, 255);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    .card {
      width: 50%;
      display: flex;
      border-radius: 10px;
      min-height: 600px;
      overflow: hidden;

      .left {
        padding: 50px;
        flex: 1;
        background: linear-gradient(
            rgba(225, 182, 220, 0.5),
            rgba(39, 11, 96, 0.5)
          ),
          url("https://images.pexels.com/photos/4350099/pexels-photo-4350099.jpeg?auto=compress&cs=tinysrgb&w=1600&h=900&dpr=1");
        background-size: cover;
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: aliceblue;

        h1 {
          font-size: 100px;
          line-height: 90px;
          margin: 0;
        }

        p {
          margin: 0;
        }

        span {
          font-size: 14px;
        }

        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: azure;
          color: purple;
          cursor: pointer;
          font-weight: bold;
        }
      }

      .right {
        flex: 1;
        padding: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        background-color: white;

        h1 {
          color: silver;
        }

        form {
          display: flex;
          gap: 20px;
          flex-direction: column;

          input {
            border: none;
            border-bottom: 1px solid lightgrey;
            padding: 20px 10px;
          }

          button {
            width: 50%;
            padding: 10px;
            border: none;
            background-color: #938eef;
            font-weight: bold;
            color: whitesmoke;
            cursor: pointer;
          }
        }
      }
    }
  }
}
